# Dependency directories
node_modules

# database dir
db/

# tmp folder
tmp/

# Optional npm cache directory
.npm

# Package lock and temp files
.package.json
package-lock.json

# Config file
config.ini
