{% extends 'layout.twig' %}

{% block body %}

      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>

{% endblock %}
{% block javascripts %}
<script>

$(document).ready(function() {
	
	var socket = io('', {query: ''});
	
  	socket.on('hello', function (data) { 



  	});

    
});    
    
</script>
{% endblock %}


